#
# Copyright © 2026 GemSphere Technologies Private Limited.
# All rights reserved.
#
# This source code is proprietary and confidential.
# Unauthorized copying, modification, distribution, or use of this
# file, via any medium, is strictly prohibited.
#

# Ignore everything by default
*

# Whitelist only the production runtime files
!nginx.corporate.conf
!dist
!dist/**
